@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

button {
 cursor: pointer;
}

@layer base {
 body {
  font-family: "Tajawal", "Roboto", serif;
  font-optical-sizing: auto;
  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-white transition-colors duration-200;
 }
}
@keyframes float {
 0%,
 100% {
  transform: translateY(0);
 }
 50% {
  transform: translateY(-10px);
 }
}

.animate-float {
 animation: float 4s ease-in-out infinite;
}

/* Fade-in-up Animation */
@keyframes fade-in-up {
 0% {
  opacity: 0;
  transform: translateY(20px);
 }
 100% {
  opacity: 1;
  transform: translateY(0);
 }
}

/* Text Gradient Animation */
@keyframes text-gradient {
 0% {
  background-position: 0% 50%;
 }
 50% {
  background-position: 100% 50%;
 }
 100% {
  background-position: 0% 50%;
 }
}
